body {
  position: relative;
}

.colourful-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.colourful-background.loaded {
  display: block;
}

.colourful-background.loaded {
  width: 100%;
  height: 100%;
  animation: fadeIn 300ms ease-in;
}

.colourful-background.loaded .image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  filter: blur(2.8rem);
  opacity: 0.75;
  mix-blend-mode: hard-light;
}

.image-static {
}

.colourful-background.loaded .image-animated {
  border-radius: 30%;
  z-index: -1;

  animation-duration: 60s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.colourful-background.loaded .image-1 {
  animation-name: spinning;
  animation-direction: alternate-reverse;
  top: -30%;
}

.colourful-background.loaded .image-2 {
  animation-name: spinning;
  animation-delay: 5s;
  bottom: -30%;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  position: absolute;
  mix-blend-mode: multiply;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
