@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply underline;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  width: 100vw;
  /* iOS mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

#future-beats-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cover-art {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
@screen md {
  .cover-art {
    padding: 0;
    height: 28rem;
    width: 28rem;
  }
}
